#load-screen {
background: url(../images/header-back.png);
position: fixed;
z-index: 10000;
top:0px;
width: 100%;
height: 1600px;

}


#loading {

width: 500px;
height: 500px;
margin: 10% auto;
background: url(../images/loader.gif);
background-size: 40%;
background-repeat: no-repeat;
background-position: center;

}

.pager li .active_link {
    background: gray !important;
}

.post_content {
    overflow: hidden;
    font-size: 20px;
    margin-top: 50px;
}
.post_content > p > img {
    display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}